.container {
  background-image: url("../img/opener.jpeg");
  background-repeat: space 200px;
  background-size: cover;
  font-size:
}

.jumbotron {
  margin-top: 40px;
}

body {
  background-color: #6BD29A;
  opacity: .9;
  font-family: 'Do Hyeon', sans-serif;
}

.container2 {
  text-align: center;
}
