.container {
  background-image: url("../img/opener.jpeg");
  background-repeat: space 200px;
  background-size: cover;
  font-size: 30px;
  border-radius: 4px;
}

.jumbotron {
  margin-top: 40px;
}

body {
  background-color: #6BD29A;
  opacity: .9;
  font-family: 'Do Hyeon', sans-serif;
}

.form-check {
  background-color: white;
  opacity: .75
}

.container2 {
  text-align: center;
  font-size: 40px;
}

#results {
  float: right;
  margin-right: 175px;
  margin-bottom: 25px;
}

#ruby {
  display: none;
}

#php {
  display: none;
}

#java {
  display: none;
}

#cSharp {
  display: none;
}
